In [3]:
import pandas as pd
import numpy as np

In [10]:
test = pd.DataFrame([[1,2,3],[1,2,2],[1,2,np.nan],[1,2,5],[1,2,3],[1,2,4]],columns=['First','Second','Third'])

In [11]:
test

   First  Second  Third
0      1       2    3.0
1      1       2    2.0
2      1       2    NaN
3      1       2    5.0
4      1       2    3.0
5      1       2    4.0

In [12]:
test.describe()

       First  Second     Third
count    6.0     6.0  5.000000
mean     1.0     2.0  3.400000
std      0.0     0.0  1.140175
min      1.0     2.0  2.000000
25%      1.0     2.0  3.000000
50%      1.0     2.0  3.000000
75%      1.0     2.0  4.000000
max      1.0     2.0  5.000000

In [26]:
np.std([3,2,5,3,4,np.mean([3,2,5,3,4])])

0.9309493362512627

In [27]:
test['Third'].sum()

17.0